.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

.header {
    text-align: center;
    background-color: #e0e0e0;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.section {
    margin-top: 20px;
    padding: 15px;
    background: #f4f4f4;
    border-radius: 8px;
}

h1 {
    color: black;
}

h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

h3 {
    color: #444;
    margin-top: 10px;
    font-size: 18px;
}

p {
    font-size: 16px;
    color: black;
    text-align: left;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

.section a {
    font-weight: bold;
    color: #0066cc;
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}

#tasks {
    text-align: left;
}

#tasks h2 {
    font-weight: bold;
    text-align: left;
}

#tasks p {
    margin: 5px 0;
}

#tasks h3 {
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
}

#tasks ul {
    list-style-type: none;
    padding-left: 0;
}

#tasks ul li {
    margin-bottom: 5px;
}

#tasks .expected-result {
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

#tasks .admin-credentials {
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}

#tasks .admin-credentials p {
    font-weight: normal;
    margin: 3px 0;
}

#team-members ul {
    list-style-type: none;
    padding: 0;
}

#team-members ul li {
    margin-bottom: 10px;
    font-weight: bold;
}

#team-members ul li ul {
    list-style-type: disc;
    margin-left: 20px;
    font-weight: normal;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    background: #e0e0e0;
    border-radius: 8px;
}

.footerLink {
    text-align: center;
}

.footer a {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    display: inline-block;
}

.projectHomepageLink {
    font-weight: bold;
    position: relative;
    color: #333;
    display: block;
    text-align: center;
    margin-top: -100px;
    text-decoration: underline;
}

.projectHomepageLink:hover {
    text-decoration: none;
}

.projectHomepageLink::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}

.projectHomepageLink:hover::after {
    width: 140px;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .header,
    .section,
    .footer {
        padding: 10px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    ul,
    p {
        font-size: 14px;
    }
}