.organizationLogo {
  /* Make it larger than the button */
  width: 100%;
  max-width: 400px;
  column-gap: 0px;
  cursor: pointer;
  transition: transform 1s ease, box-shadow 1s ease;
}

.organizationLogo:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.description {
  font-size: 25px;
  color: #000;
  max-width: 900px;
  text-align: justify;
}

/* Responsive Layout */
@media (min-width: 768px) {
  .organizationLogo {
    /* Make it larger than the button */
    max-width: 100%;
  }
}

/* Hide description in mobile view */
@media (max-width: 767px) {
  .hiddenOnMobile {
    display: none;
  }
}
