.registerForm {
  margin-top: 20px;
}

.nameGroup {
  display: flex;
  justify-content: space-between;
}

/* Input Groups */
.inputGroup {
  width: 47%;
  display: flex;
  flex-direction: column;
}

.emailAddress,
.newPassword,
.confirmPassword {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.inputGroup input,
.emailAddress input,
.newPassword input,
.confirmPassword input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Date of Birth */
.dobGroup {
  text-align: left;
  margin-bottom: 10px;
}

.dobGlabel {
  display: block;
  margin: 10px 0;
}

.dobFields {
  display: flex;
  justify-content: space-between;
}

.dobFields select {
  width: 32%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.errorMessage {
  color: #f00;
}

/* Submit Button */
.createAccountBtn {
  background: rgba(241, 205, 12, 1);
  color: #000;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.createAccountBtn:hover {
  background: rgba(241, 205, 12, 0.8);
}
