.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dashboard {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: space-between;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 767px) {
  .card {
    word-break: break-word;
  }
}
