.mainContent {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  padding: 20px;
  row-gap: 10px;
}

.headerRow {
  width: 100%;
}

.actionRow {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  margin-bottom: 10px;
}

.navListButton {
  width: 160px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 14px;
}

.navListButton:hover {
  background-color: #f8f9fa;
  border-radius: 15px;
}

@media (max-width: 767px) {
  .mainContent {
    width: 90%;
  }
}