.mainContent {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  padding: 20px;
  row-gap: 10px;
}

.headerPostsRow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  border-bottom: 2px solid #ccc;
}

.headerPostsTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  border: none;
  text-decoration: none;
  box-shadow: none;
}

.actionRow {
  display: flex;
  justify-content: flex-end;
}

.createPostButton {
  width: 160px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 14px;
}

.createPostButton:hover {
  background-color: #f8f9fa;
  border-radius: 15px;
}

@media (max-width: 767px) {
  .mainContent {
    width: 90%;
  }
}
