.mainContent {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  padding: 20px;
  row-gap: 10px;
}

.header {
  margin: 20px auto;
}

@media (max-width: 767px) {
  .mainContent {
    width: 90%;
  }
}
