.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Left Section */
.leftSection {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.organizationLogo {
  /* Make it larger than the button */
  width: 100%;
  max-width: 400px;
  column-gap: 0px;
}

.description {
  font-size: 25px;
  color: #000;
  max-width: 900px;
  text-align: justify;
}

/* Form Section */
.rightSection {
  display: flex;
  justify-content: center;
  width: 100%;
}

.messageContainer {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.successTitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.successMessage {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.notice {
  font-size: 14px;
  color: #777;
}

.returnToLoginBtn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.returnToLoginBtn {
  background: rgba(241, 205, 12, 1);
  color: #000;
  border: none;
  margin-top: 20px;
}

.returnToLoginBtn:hover {
  background: rgba(241, 205, 12, 0.8);
}

/* Responsive Layout */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    /* Centers content better */
    justify-content: center;
    column-gap: 5vw;
  }

  .leftSection {
    margin-top: 5%;
    margin-left: 5%;
    align-self: flex-start;
    max-width: 60%;
  }

  .organizationLogo {
    /* Make it larger than the button */
    max-width: 100%;
  }

  .rightSection {
    max-width: 40%;
    justify-content: center;
    margin-right: 50px;
  }

  .messageContainer {
    max-width: 450px;
    padding: 30px;
  }
}

/* Hide description in mobile view */
@media (max-width: 767px) {
  .hiddenOnMobile {
    display: none;
  }
}
