.commentWrapper {
  margin-bottom: 1rem;
}

.commentRow {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  gap: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.commentProfilePic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  font-weight: bold;
  border-radius: 50%;
}

.commentContent {
  width: 100%;
}

.commentOwnerName {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  font-size: 14px;
}

span {
  font-size: 14px;
  margin-left: 10px;
}

.commentText {
  margin: 5px 0 0;
  font-size: 14px;
  color: #333;
  word-wrap: break-word;
  text-align: justify;
}

.replyCommentList {
  padding-left: 2rem;
  border-left: 2px solid #eee;
  margin-top: 0.5rem;
}

.replyCommentButton {
  margin-top: 0.5rem;
  background: none;
  border: none;
  color: #12538e;
  cursor: pointer;
}

.replyCommentInput {
  margin-top: 0.5rem;
  width: 95%;
  padding: 0.4rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}
