.userList {
  max-height: 300px;
}

.userList ul {
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
}

.userList li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: 0.3s;
}

.userList li:hover {
  background: rgba(0, 0, 0, 0.1);
}
