.postCard {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: auto;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.postHeader {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.postInfo {
  flex: 1;
}

.postName {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.postActionButtons {
  gap: 8px;
  margin-left: auto;
  align-items: center;
}

.arrowButton,
.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  color: #888;
  transition: color 0.2s ease;
}

.postContent {
  width: 80%;
  padding: 0% 10%;
  font-size: 16px;
  text-align: left;
}

.photoContainer {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.photo {
  max-width: 80%;
  max-height: 300px;
  border-radius: 8px;
}
